[Unit]
Description=Primemirror API service
After=network.target

[Service]
User=root
Group=root
EnvironmentFile=/etc/default/pmapi
RuntimeDirectory=pmapi
WorkingDirectory=/opt/pmapi
ExecStart=/usr/local/bin/pmapi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
