[Unit]
Description=Primemirror API service
After=network.target

[Service]
User=mirroradmin
Group=mirroradmin
EnvironmentFile=/etc/default/primemirror
RuntimeDirectory=pmapi
WorkingDirectory=/opt/pmapi
ExecStart=/home/mirroradmin/.pyenv/shims/pmapi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
